.kt-aside-menu .kt-menu__nav > .kt-menu__item :hover {
    background-color: #217CD9;
    border-radius: 25px;
}

.logo-img{
    width: 4rem;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item {
    margin: 1rem;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .active {
    background-color: #217CD9;
    border-radius: 25px;    
}

table.dataTable td, .table td {
    font-family: Poppins;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0em !important;
    text-align: left;
}

table.dataTable th, .table th {
    font-family: Poppins;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 21px !important;
    letter-spacing: 0em !important;
    text-align: left;
}

.menu-icon {
    width: 25px;
    margin-right: 20px;
}