.kt-portlet__head{
    align-items: center !important;
}

.book-tb-header-label{
    display: flex;
    align-items: center;
    margin-bottom: 0rem ;
    margin-right: 1rem;
}

.top-header-input{
    width: 6rem;
}

.line-between-input{
    width: 11px;
    height: 0px;
    border: 1px solid #595D6E;
    margin-left: 4px;
    margin-right: 4px;
}

#input_between{
    align-items: center;
}

.top-header-input-name{
    width: 8rem;
}

.top-header-input-age{
    width: 4rem;
}

.top-header-input-city{
    width: 10rem;
}

.kt-portlet .kt-portlet__head{
    min-height: 90px !important;
}

.user_photo_container{

    margin-left: unset;
    margin-right: unset;
    align-items: center;
}
.user_photo_container img{
    width: 2.5rem !important;
    height: 2.5rem;
    border-radius: 1.3rem;
    margin:4px;
}

.user_photo_container p{
    margin-top: unset;
    margin-bottom: unset;
    margin-left: 4px;
}

.user_td_center{
    text-align: center;
}

.staff-avatar {
    text-align: right;
}

.kt-avatar__holder {
    border-radius: 50% !important;
}